@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
cite,
code,
small {
  display: block; }

* {
  box-sizing: border-box; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr {
  letter-spacing: 0.1em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 70%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

em,
i {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

img {
  max-width: 100%;
  display: block;
  margin: inherit auto; }

@media screen and (min-width: 48em) {
  body,
  html {
    margin: 0;
    width: 100%;
    max-width: none; } }

html {
  font-size: 100%;
  font-size: 16px;
  font-weight: 400; }
  @media screen and (min-width: 48em) {
    html {
      font-size: 17.6px;
      font-size: 1.1rem; } }

* {
  line-height: 1.625; }
  @media (min-width: 48em) {
    * {
      line-height: 1.625; } }

p {
  margin-bottom: 1.625rem; }

h1 {
  font-size: 1.8rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 1.625rem; }

h2 {
  font-size: 1.4rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem; }

h3 {
  font-size: 1.25rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem; }

h4 {
  font-size: 1.1rem;
  line-height: 1.625;
  margin-top: 1.625rem;
  margin-bottom: 0.8125rem; }

h5 {
  font-size: 0.815rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem; }

h6 {
  font-size: 0.75rem;
  line-height: 1.625;
  margin-top: 2.03125rem;
  margin-bottom: 0.8125rem; }

@media screen and (min-width: 48em) {
  h1 {
    font-size: 1.8rem;
    line-height: 1.70455;
    margin-top: 1.70455rem;
    margin-bottom: 1.70455rem; }
  h2 {
    font-size: 1.4rem;
    line-height: 1.70455;
    margin-top: 2.13068rem;
    margin-bottom: 0.85227rem; }
  h3 {
    font-size: 1.25rem;
    line-height: 1.70455;
    margin-top: 1.70455rem;
    margin-bottom: 0.85227rem; }
  h4 {
    font-size: 1.1rem;
    line-height: 1.70455;
    margin-top: 1.70455rem;
    margin-bottom: 0.85227rem; }
  h5 {
    font-size: 0.815rem;
    line-height: 1.70455;
    margin-top: 2.13068rem;
    margin-bottom: 0.85227rem; }
  h6 {
    font-size: 0.75rem;
    line-height: 1.70455;
    margin-top: 2.13068rem;
    margin-bottom: 0.85227rem; } }

h1 + h2 {
  margin-top: 1.625rem; }
  @media screen and (min-width: 48em) {
    h1 + h2 {
      margin-top: 1.70455rem; } }

h2 + h3,
h3 + h4,
h4 + h5 {
  margin-top: 0.8125rem; }
  @media screen and (min-width: 48em) {
    h2 + h3,
    h3 + h4,
    h4 + h5 {
      margin-top: 0.85227rem; } }

h5 + h6 {
  margin-top: -0.8125rem; }
  @media screen and (min-width: 48em) {
    h5 + h6 {
      margin-top: -0.85227rem; } }

h5, h6 {
  text-transform: uppercase;
  font-weight: 700; }

ul li,
ol li {
  margin-bottom: 0; }

small {
  line-height: 0.8125; }
  @media screen and (min-width: 48em) {
    small {
      line-height: 0.85227; } }

.skip-link {
  margin: 0 auto;
  padding: 0; }
  .skip-link li {
    list-style-type: none; }

.u-hidden,
.visually-hidden,
.element-invisible {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.u-block {
  display: block; }

.u-inline-block {
  display: inline-block; }

.u-inline {
  display: inline; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.u-img-centered img {
  margin: 0 auto; }

.desaturate img {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out; }
  .desaturate img:hover, .desaturate img:focus {
    filter: none; }

.u-text-italic {
  font-style: italic; }

.u-text-centered {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-left {
  text-align: left; }

.u-text-highlighted::selection {
  background: #b2c1d2; }

.u-nm {
  margin: 0; }

.u-np {
  padding: 0; }

.u-nlh {
  line-height: 1; }

.u-no-decoration {
  text-decoration: none; }
  .u-no-decoration:hover, .u-no-decoration:focus {
    text-decoration: none; }

.u-underline {
  text-decoration: underline; }

.u-clearfix {
  clear: both; }

.u-left {
  float: left; }

.u-right {
  float: right; }

.expand-w-bc {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important; }

.site-max-width {
  max-width: 53.125em;
  margin: 0 auto; }

.fh {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fkh {
  padding-top: 3.25rem;
  padding-bottom: 16.25rem; }

.padd-all-05 {
  padding: 0.8125rem 0.8125rem; }

.padd-all-1 {
  padding: 1.625rem 1.625rem; }

.padd-all-2 {
  padding: 3.25rem 3.25rem; }

.padd-all-3 {
  padding: 4.875rem 4.875rem; }

.padd-all-4 {
  padding: 6.5rem 6.5rem; }

.padd-top-05 {
  padding-top: 0.8125rem; }

.padd-top-1 {
  padding-top: 1.625rem; }

.padd-top-2 {
  padding-top: 3.25rem; }

.padd-top-3 {
  padding-top: 4.875rem; }

.padd-top-4 {
  padding-top: 6.5rem; }

.padd-bottom-05 {
  padding-bottom: 0.8125rem; }

.padd-bottom-1 {
  padding-bottom: 1.625rem; }

.padd-bottom-2 {
  padding-bottom: 3.25rem; }

.padd-bottom-3 {
  padding-bottom: 4.875rem; }

.padd-bottom-4 {
  padding-bottom: 6.5rem; }

.padd-left-05 {
  padding-left: 0.8125rem; }

.padd-left-1 {
  padding-left: 1.625rem; }

.padd-left-2 {
  padding-left: 3.25rem; }

.padd-left-3 {
  padding-left: 4.875rem; }

.padd-left-4 {
  padding-left: 6.5rem; }

.padd-right-05 {
  padding-right: 0.8125rem; }

.padd-right-1 {
  padding-right: 1.625rem; }

.padd-right-2 {
  padding-right: 3.25rem; }

.padd-right-3 {
  padding-right: 4.875rem; }

.padd-right-4 {
  padding-right: 6.5rem; }

.np {
  padding: 0; }

.np-top {
  padding-top: 0 !important; }

.np-bottom {
  padding-bottom: 0 !important; }

.np-left {
  padding-left: 0 !important; }

.np-right {
  padding-right: 0 !important; }

.marg-all-05 {
  margin: 0.8125rem 0.8125rem; }

.marg-all-1 {
  margin: 1.625rem 1.625rem; }

.marg-all-2 {
  margin: 3.25rem 3.25rem; }

.marg-all-3 {
  margin: 4.875rem 4.875rem; }

.marg-all-4 {
  margin: 6.5rem 6.5rem; }

.marg-top-05 {
  margin-top: 0.8125rem; }

.marg-top-1 {
  margin-top: 1.625rem; }

.marg-top-2 {
  margin-top: 3.25rem; }

.marg-top-3 {
  margin-top: 4.875rem; }

.marg-top-4 {
  margin-top: 6.5rem; }

.marg-bottom-05 {
  margin-bottom: 0.8125rem; }

.marg-bottom-1 {
  margin-bottom: 1.625rem; }

.marg-bottom-2 {
  margin-bottom: 3.25rem; }

.marg-bottom-3 {
  margin-bottom: 4.875rem; }

.marg-bottom-4 {
  margin-bottom: 6.5rem; }

.marg-left-05 {
  margin-left: 0.8125rem; }

.marg-left-1 {
  margin-left: 1.625rem; }

.marg-left-2 {
  margin-left: 3.25rem; }

.marg-left-3 {
  margin-left: 4.875rem; }

.marg-left-4 {
  margin-left: 6.5rem; }

.marg-right-05 {
  margin-right: 0.8125rem; }

.marg-right-1 {
  margin-right: 1.625rem; }

.marg-right-2 {
  margin-right: 3.25rem; }

.marg-right-3 {
  margin-right: 4.875rem; }

.marg-right-4 {
  margin-right: 6.5rem; }

.nm {
  margin: 0; }

.nm-top {
  margin-top: 0 !important; }

.nm-bottom {
  margin-bottom: 0 !important; }

.nm-left {
  margin-left: 0 !important; }

.nm-right {
  margin-right: 0 !important; }

.black {
  color: #000; }

.white {
  color: #FFF; }

.bullet::before {
  content: '•';
  padding-right: 4px; }

@media (min-width: 48em) {
  .collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out; } }

.separate {
  padding: 0 10px; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  100% {
    opacity: 1; }
  0% {
    opacity: 0; } }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes zIndexOff {
  from {
    z-index: 2; }
  to {
    z-index: -1; } }

.hover-stat {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .hover-stat:hover {
    color: #545454; }

.hover-stat::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 16px;
  right: 0;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.hover-stat:hover::after {
  transform: translate3d(100%, 0, 0); }

.hover-stat .desc {
  position: relative;
  transition: color .3s 0.3s; }

.hover-stat .desc::before {
  content: attr(data-content);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  width: 0;
  transition: width 0.4s 0.3s; }

.hover-stat .desc:hover::before {
  width: 100%; }

body {
  overflow-x: hidden; }

h1 {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  opacity: 1;
  position: relative; }
  .page.bg--home {
    background: url("../images/oscuro_home.jpg"); }
  .page.bg--jade {
    background-color: #43d9cd; }
  .page.bg--tangerine {
    background: #f58300; }
  .page.bg--grey {
    background: #878787; }
  .page.passive {
    opacity: 0; }

.wrapper--inner {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 53.125em;
  width: 100%; }

@media (min-width: 48em) {
  .layout-sidebar-first .wrapper-main__inner, .layout-sidebar-second .wrapper-main__inner {
    display: flex; } }

@media (min-width: 48em) {
  .layout-sidebar-first .column.main, .layout-sidebar-second .column.main {
    padding: 0rem 0rem 0rem 3.25rem;
    flex-basis: 75%;
    order: 2; } }

@media (min-width: 48em) {
  .layout-sidebar-first .column.sidebar, .layout-sidebar-second .column.sidebar {
    flex-basis: 25%;
    order: 1; } }

@media (min-width: 48em) {
  .layout-sidebar-second .column.main {
    padding: 0rem 3.25rem 0rem 0rem;
    order: 1; } }

@media (min-width: 48em) {
  .layout-sidebar-second .column.sidebar {
    order: 2; } }

@media (min-width: 48em) {
  .layout-two-sidebars .wrapper-main__inner {
    display: flex; } }

@media (min-width: 48em) {
  .layout-two-sidebars .column.main {
    padding: 0 1.625rem;
    flex-basis: 75%;
    order: 2; } }

@media (min-width: 48em) {
  .layout-two-sidebars .column.sidebar {
    flex-basis: 25%; }
    .layout-two-sidebars .column.sidebar.sidebar--first {
      order: 1; }
    .layout-two-sidebars .column.sidebar.sidebar--second {
      order: 3; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOut {
  100% {
    opacity: 1; }
  0% {
    opacity: 0; } }

@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%; }
  15% {
    opacity: 1;
    top: 50%; }
  50% {
    opacity: 0;
    top: 50%; }
  100% {
    opacity: 0;
    top: 29%; } }

@keyframes zIndexOff {
  from {
    z-index: 2; }
  to {
    z-index: -1; } }

.hover-stat {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .hover-stat:hover {
    color: #545454; }

.hover-stat::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 16px;
  right: 0;
  background: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.hover-stat:hover::after {
  transform: translate3d(100%, 0, 0); }

.hover-stat .desc {
  position: relative;
  transition: color .3s 0.3s; }

.hover-stat .desc::before {
  content: attr(data-content);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  width: 0;
  transition: width 0.4s 0.3s; }

.hover-stat .desc:hover::before {
  width: 100%; }

body {
  overflow-x: hidden; }

h1 {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  opacity: 1;
  position: relative; }
  .page.bg--home {
    background: url("../images/oscuro_home.jpg"); }
  .page.bg--jade {
    background-color: #43d9cd; }
  .page.bg--tangerine {
    background: #f58300; }
  .page.bg--grey {
    background: #878787; }
  .page.passive {
    opacity: 0; }

.wrapper--inner {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 53.125em;
  width: 100%; }

@media (min-width: 48em) {
  .layout-sidebar-first .wrapper-main__inner, .layout-sidebar-second .wrapper-main__inner {
    display: flex; } }

@media (min-width: 48em) {
  .layout-sidebar-first .column.main, .layout-sidebar-second .column.main {
    padding: 0rem 0rem 0rem 3.25rem;
    flex-basis: 75%;
    order: 2; } }

@media (min-width: 48em) {
  .layout-sidebar-first .column.sidebar, .layout-sidebar-second .column.sidebar {
    flex-basis: 25%;
    order: 1; } }

@media (min-width: 48em) {
  .layout-sidebar-second .column.main {
    padding: 0rem 3.25rem 0rem 0rem;
    order: 1; } }

@media (min-width: 48em) {
  .layout-sidebar-second .column.sidebar {
    order: 2; } }

@media (min-width: 48em) {
  .layout-two-sidebars .wrapper-main__inner {
    display: flex; } }

@media (min-width: 48em) {
  .layout-two-sidebars .column.main {
    padding: 0 1.625rem;
    flex-basis: 75%;
    order: 2; } }

@media (min-width: 48em) {
  .layout-two-sidebars .column.sidebar {
    flex-basis: 25%; }
    .layout-two-sidebars .column.sidebar.sidebar--first {
      order: 1; }
    .layout-two-sidebars .column.sidebar.sidebar--second {
      order: 3; } }

.u-hidden,
.visually-hidden,
.element-invisible {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden; }

.u-block {
  display: block; }

.u-inline-block {
  display: inline-block; }

.u-inline {
  display: inline; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.u-img-centered img {
  margin: 0 auto; }

.desaturate img {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out; }
  .desaturate img:hover, .desaturate img:focus {
    filter: none; }

.u-text-italic {
  font-style: italic; }

.u-text-centered {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-left {
  text-align: left; }

.u-text-highlighted::selection {
  background: #b2c1d2; }

.u-nm {
  margin: 0; }

.u-np {
  padding: 0; }

.u-nlh {
  line-height: 1; }

.u-no-decoration {
  text-decoration: none; }
  .u-no-decoration:hover, .u-no-decoration:focus {
    text-decoration: none; }

.u-underline {
  text-decoration: underline; }

.u-clearfix {
  clear: both; }

.u-left {
  float: left; }

.u-right {
  float: right; }

.expand-w-bc {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important; }

.site-max-width {
  max-width: 53.125em;
  margin: 0 auto; }

.fh {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fkh {
  padding-top: 3.25rem;
  padding-bottom: 16.25rem; }

.padd-all-05 {
  padding: 0.8125rem 0.8125rem; }

.padd-all-1 {
  padding: 1.625rem 1.625rem; }

.padd-all-2 {
  padding: 3.25rem 3.25rem; }

.padd-all-3 {
  padding: 4.875rem 4.875rem; }

.padd-all-4 {
  padding: 6.5rem 6.5rem; }

.padd-top-05 {
  padding-top: 0.8125rem; }

.padd-top-1 {
  padding-top: 1.625rem; }

.padd-top-2 {
  padding-top: 3.25rem; }

.padd-top-3 {
  padding-top: 4.875rem; }

.padd-top-4 {
  padding-top: 6.5rem; }

.padd-bottom-05 {
  padding-bottom: 0.8125rem; }

.padd-bottom-1 {
  padding-bottom: 1.625rem; }

.padd-bottom-2 {
  padding-bottom: 3.25rem; }

.padd-bottom-3 {
  padding-bottom: 4.875rem; }

.padd-bottom-4 {
  padding-bottom: 6.5rem; }

.padd-left-05 {
  padding-left: 0.8125rem; }

.padd-left-1 {
  padding-left: 1.625rem; }

.padd-left-2 {
  padding-left: 3.25rem; }

.padd-left-3 {
  padding-left: 4.875rem; }

.padd-left-4 {
  padding-left: 6.5rem; }

.padd-right-05 {
  padding-right: 0.8125rem; }

.padd-right-1 {
  padding-right: 1.625rem; }

.padd-right-2 {
  padding-right: 3.25rem; }

.padd-right-3 {
  padding-right: 4.875rem; }

.padd-right-4 {
  padding-right: 6.5rem; }

.np {
  padding: 0; }

.np-top {
  padding-top: 0 !important; }

.np-bottom {
  padding-bottom: 0 !important; }

.np-left {
  padding-left: 0 !important; }

.np-right {
  padding-right: 0 !important; }

.marg-all-05 {
  margin: 0.8125rem 0.8125rem; }

.marg-all-1 {
  margin: 1.625rem 1.625rem; }

.marg-all-2 {
  margin: 3.25rem 3.25rem; }

.marg-all-3 {
  margin: 4.875rem 4.875rem; }

.marg-all-4 {
  margin: 6.5rem 6.5rem; }

.marg-top-05 {
  margin-top: 0.8125rem; }

.marg-top-1 {
  margin-top: 1.625rem; }

.marg-top-2 {
  margin-top: 3.25rem; }

.marg-top-3 {
  margin-top: 4.875rem; }

.marg-top-4 {
  margin-top: 6.5rem; }

.marg-bottom-05 {
  margin-bottom: 0.8125rem; }

.marg-bottom-1 {
  margin-bottom: 1.625rem; }

.marg-bottom-2 {
  margin-bottom: 3.25rem; }

.marg-bottom-3 {
  margin-bottom: 4.875rem; }

.marg-bottom-4 {
  margin-bottom: 6.5rem; }

.marg-left-05 {
  margin-left: 0.8125rem; }

.marg-left-1 {
  margin-left: 1.625rem; }

.marg-left-2 {
  margin-left: 3.25rem; }

.marg-left-3 {
  margin-left: 4.875rem; }

.marg-left-4 {
  margin-left: 6.5rem; }

.marg-right-05 {
  margin-right: 0.8125rem; }

.marg-right-1 {
  margin-right: 1.625rem; }

.marg-right-2 {
  margin-right: 3.25rem; }

.marg-right-3 {
  margin-right: 4.875rem; }

.marg-right-4 {
  margin-right: 6.5rem; }

.nm {
  margin: 0; }

.nm-top {
  margin-top: 0 !important; }

.nm-bottom {
  margin-bottom: 0 !important; }

.nm-left {
  margin-left: 0 !important; }

.nm-right {
  margin-right: 0 !important; }

.black {
  color: #000; }

.white {
  color: #FFF; }

.bullet::before {
  content: '•';
  padding-right: 4px; }

@media (min-width: 48em) {
  .collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out; } }

.separate {
  padding: 0 10px; }

.skip-link {
  margin: 0 auto;
  padding: 0; }
  .skip-link li {
    list-style-type: none; }

.stns {
  position: fixed;
  bottom: 4rem;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 50px;
  z-index: -1;
  opacity: 0; }
  .stns.visible {
    transition: opacity .2s linear;
    opacity: 1;
    z-index: 1; }

.scroll-btn {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }

.scroll-btn > * {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  letter-spacing: 2px; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
  color: #ffffff; }

.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
  opacity: 0.8;
  filter: alpha(opacity=80); }

.scroll-btn .mouse {
  position: relative;
  display: block;
  width: 35px;
  height: 55px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 23px; }

.scroll-btn .mouse > * {
  position: absolute;
  display: block;
  top: 29%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px 0 0 -4px;
  background: white;
  border-radius: 50%;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  color: #1a1a1a;
  font-family: "Roboto Slab", serif; }

h1,
h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 400; }

h2,
h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 400; }

h2.page-title {
  font-size: 4rem;
  margin-top: 0;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  color: #f7f8f8;
  line-height: 1;
  letter-spacing: .2rem; }
  h2.page-title.sm {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 400; }

h3.page-subtitle {
  padding: 0.8125rem 0;
  margin-top: 0;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .05rem;
  line-height: 1.2; }
  h3.page-subtitle .sm {
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: 400; }

h3.intersect {
  font-size: 2rem;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: white; }

h4.page-subtitle {
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 0;
  color: #FFF;
  letter-spacing: .07rem;
  line-height: 1.2;
  margin-bottom: 10px; }
  h4.page-subtitle .title-link {
    font-size: 0.8rem;
    font-weight: normal; }

ul li {
  margin-bottom: 5px; }

p {
  margin-top: 0; }

.nb {
  margin: 1.625rem 0;
  list-style-type: none;
  padding: 0; }

b,
strong {
  -webkit-font-smoothing: auto; }

.bold {
  font-weight: 700; }

.clearfix {
  clear: both; }

.serif {
  font-family: "Roboto Slab", serif; }

.sans {
  font-family: "Dosis", sans-serif; }

.uppercase {
  text-transform: uppercase; }

a {
  color: #728dac;
  transition: color .3s;
  text-decoration: none; }
  a:visited {
    color: #728dac; }
  a:active {
    color: #445a74; }
  a:hover {
    color: #445a74; }
    a:hover:visited {
      color: #445a74; }

#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000; }

.main-video {
  display: block;
  width: 100%;
  height: auto;
  opacity: .5;
  transition: opacity .2s ease-in-out; }
  .main-video.passive {
    opacity: .2; }

.fp-viewing-about .main-video {
  opacity: .1; }

.eg-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  color: #333;
  opacity: 0;
  z-index: -1;
  transform: scale(0.25, 0.25);
  transition: opacity .3s ease-in-out, transform .2s linear; }
  .eg-modal.active {
    z-index: 5;
    opacity: 1;
    transform: scale(1, 1); }
  .eg-modal.hidden {
    transform: scale(0.25, 0.25);
    z-index: -1;
    opacity: 0;
    animation: zIndexOff 1.5s forwards; }
  .eg-modal__container {
    padding-top: 7rem;
    padding-bottom: 3rem;
    position: relative;
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
    .eg-modal__container.active {
      position: relative;
      height: auto;
      width: auto;
      overflow: inherit;
      clip: none; }
  .eg-modal .wrapper--inner {
    padding-left: 1rem;
    padding-right: 1rem; }
    @media (min-width: 48em) {
      .eg-modal .wrapper--inner {
        padding-left: 4rem;
        padding-right: 4rem; } }
  .eg-modal__close {
    height: 40px;
    width: 40px;
    position: absolute;
    box-sizing: border-box;
    line-height: 40px;
    display: inline-block;
    z-index: 6;
    margin: 0 auto; }
    .eg-modal__close__wrapper {
      top: 2em;
      text-align: center;
      background: #43d9cd; }
    .eg-modal__close:before, .eg-modal__close:after {
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1.5px;
      margin-left: -20px;
      display: block;
      height: 3px;
      width: 40px;
      background-color: #fff;
      transition: all 0.25s ease-out; }
    .eg-modal__close:after {
      transform: rotate(-135deg); }
    .eg-modal__close:hover:before, .eg-modal__close:hover:after {
      transform: rotate(0deg); }
  .eg-modal__work {
    background: #43d9cd; }
    .eg-modal__work a:link, .eg-modal__work a:visited {
      color: #f58300; }
      .eg-modal__work a:link:hover, .eg-modal__work a:visited:hover {
        text-decoration: underline; }
  .eg-modal__team {
    background: #f58300; }
    .eg-modal__team a:link, .eg-modal__team a:visited {
      color: white; }
      .eg-modal__team a:link:hover, .eg-modal__team a:visited:hover {
        text-decoration: underline; }

.main-menu__links {
  height: 100vh;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s ease-in-out; }
  .main-menu__links.visible {
    opacity: .9; }

.main-menu__item {
  margin: 0 0.8125rem; }

.main-menu__link {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: uppercase; }
  .main-menu__link:visited {
    color: white; }
    .main-menu__link:visited:hover, .main-menu__link:visited:focus {
      color: white;
      text-decoration: none; }
  .main-menu__link:hover, .main-menu__link:focus {
    color: white;
    text-decoration: none; }
  .main-menu__link::after {
    content: '';
    display: block;
    background: white;
    height: 1px;
    width: 0;
    transition: width .2s ease-in-out; }
  .main-menu__link:hover::after, .main-menu__link:focus::after {
    width: 100%; }

.main-menu__trigger {
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 5; }
  .main-menu__trigger.active .main-menu__close > span {
    width: 26px;
    opacity: .5; }
  .main-menu__trigger.active .main-menu__closed {
    opacity: 1; }
    .main-menu__trigger.active .main-menu__closed--left {
      transform: rotate(45deg); }
    .main-menu__trigger.active .main-menu__closed--right {
      transform: rotate(-45deg); }

.main-menu__closed {
  position: relative;
  opacity: 0;
  transition: opacity .2s ease-in-out; }
  .main-menu__closed--left {
    display: block;
    background: white;
    height: 2px;
    width: 32px;
    transform: rotate(0);
    transition: transform .2s ease-in-out;
    position: absolute;
    left: 3px;
    top: 19px; }
  .main-menu__closed--right {
    display: block;
    background: white;
    height: 2px;
    width: 32px;
    transform: rotate(0);
    transition: transform .2s ease-in-out;
    position: absolute;
    left: 4px;
    top: 19px; }

.main-menu__close {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 6px;
  transition: border-radius .2s ease-in-out; }
  .main-menu__close:hover > span {
    width: 26px; }
  .main-menu__close > span {
    height: 2px;
    background: white;
    display: block;
    transition: width .2s ease-in-out, margin-right .2s ease-in-out; }
  .main-menu__close--first {
    width: 26px; }
  .main-menu__close--second {
    width: 15px; }
  .main-menu__close--third {
    width: 20px; }

#mainMenu {
  position: relative;
  z-index: 1; }

#main {
  position: relative;
  z-index: 2; }
  #main.behind {
    z-index: 0; }

.contact-list {
  margin-top: 1.625rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column; }
  @media (min-width: 48em) {
    .contact-list {
      flex-direction: row; } }
  .contact-list__title {
    font-size: 1.2rem;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    padding-right: 5px; }
  .contact-list__email {
    padding: 3.25rem 1.625rem 1.625rem;
    text-align: center; }
    .contact-list__email a {
      color: white; }
  .contact-list__logo {
    margin: 0 auto;
    max-width: 100px;
    position: relative;
    top: -3rem; }
  .contact-list .desc {
    display: inline-block; }
  .contact-list a {
    color: white; }

.main-logo {
  margin-bottom: 1.625rem; }

.main-text {
  font-size: 1.2rem;
  color: white; }

.team-list__title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  padding-right: 5px; }

.team-list .desc {
  display: inline-block; }

.team-list a {
  color: #333; }

.work-list__title {
  font-size: 1.2rem;
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  padding-right: 5px; }

.work-list .desc {
  display: inline-block; }

.work-list a {
  color: #545454; }
