<header id="header"{% if page.home %} class="alt"{% endif %}>
    <h1 class="main-title"><a href="{{ page.find("/").url }}"><span class="bold">Oscuro</span><span>Quintet</span></a></h1>
  <nav>
    <a href="#menu">{{ site.header.menu_name }}</a>
  </nav>
</header>